/**
 * Main Site/Theme Styles
 *
 * Styles used on the public-facing website as part of the current theme.
 *
 * @package WordPress
 * @subpackage DPE_Baseline
 */

@import url("normalize.less");
@import url("fonts.less");
@import url("bootstrap.less");

/* Basic colors ---------------------------- */
@black:		rgb(28,26,26);
@blue:		rgb(30,64,84);
@bluelite:	rgb(47,150,180);
@green:		rgb(116,166,99);
@orange:	rgb(202,89,52);
@red:		rgb(157,38,29);
@greytxt:	rgb(148,150,149);
@greyfade:	rgb(206,207,208);
@greymid:	rgb(222,222,222);
@greylite:	rgb(238,239,240);
@white:		rgb(255,255,255);

.BoxShadow( @shadow: 0 1px 3px rgba(0,0,0,.25 ) ) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	box-shadow: @shadow;
}
.GradientGrey() {
	background-image: -ms-linear-gradient(top, @greylite 60%, @greyfade 100%);
	background-image: -moz-linear-gradient(top, @greylite 60%, @greyfade 100%);
	background-image: -o-linear-gradient(top, @greylite 60%, @greyfade 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.60, @greylite), color-stop(1, @greyfade));
	background-image: -webkit-linear-gradient(top, @greylite 60%, @greyfade 100%);
	background-image: linear-gradient(to bottom, @greylite 60%, @greyfade 100%);
}


/* Selection colours (easy to forget) ------ */
::selection 	 	{}
::-moz-selection 	{}
img::selection 		{}
img::-moz-selection	{}

/* Fonts ----------------------------------- */
@sans:			'futura-pt',sans-serif;
@serif:			'Merriweather',serif;
@baseFontSize:	'24';
.FontSize( @size ) {
	@remValue: ( @size / @baseFontSize );
	@pxValue:	@size;
	font-size: ~"@{pxValue}px"; 
	font-size: ~"@{remValue}rem";
}

/* Alignment & Assistive Text -------------- */
.ClearFix() {
	&:before, &:after {content:" "; display:table;}
	&:after {clear:both;}
}
.OffsetText {
	text-indent:-9000em; outline:none; overflow:hidden;
}
.required			{color:@red;}
.note				{}
.error				{color:@red;}
.success			{color:@green;}
.toggle				{display:none;}
.alignleft			{width:auto; float:left;}
.alignright			{width:auto; float:right;}
.aligncenter		{clear:both; display:block; margin-left:auto; margin-right:auto;}
.wp-post-image		{max-width:100%; height:auto;}
.assistive-text,
.screen-reader-text	{position:absolute!important; left:-9000px; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px, 1px, 1px);}


/* Get 'er done... -------------------------- */
html		{font-size:150%; font-family:@serif; color:@black;} // Defaults our HTML font to 24px
body 		{position:relative; .FontSize(24); line-height:1.5; -webkit-tap-highlight-color:red;}
a			{color:@blue; text-decoration:none; transition:all 0.2s ease;}
a:hover,
a:focus		{color:@bluelite;}
button,
submit		{transition:all 0.2s ease;}

abbr	{border-bottom:1px dotted @greytxt;}
em		{font-style:italic;}
strong	{font-weight:700;}
del		{color:@greytxt; color:@orange;}
ins		{color:@green;}
hr		{border:none; border-top:1px dotted @greytxt;}
table	{width:100%; font-size:0.9em; font-family:@sans; font-weight:500; margin-bottom:1em;}
th,td	{padding:0.3333em 1em; border-bottom:1px solid @greymid;}
th		{background:@greylite; text-align:left;}
form	{margin-bottom:0;}
label	{font-family:@sans; font-weight:700; text-transform:uppercase;}

h1,h2,h3,h4,h5,h6,th	{font-family:@sans; font-weight:700;}


.entry-title	{margin-top:0;}

.entry-content {
	img, embed, object	{max-width:100%; height:auto; margin-bottom:1em;}
	img.alignright		{margin:0.3333em 0 1em 1em;}
	img.alignleft		{margin:0.3333em 1em 1em 0;}
	img.alignnone,
	img.aligncenter		{margin:0.333em auto 1em;}
}

.entry-meta	{
	.ClearFix; margin:0 0 2em; padding:1.3333em 0 1em; font-family:@sans; font-weight:500; text-transform:uppercase; color:@greytxt; .FontSize(16); border-top:1px dotted @greymid; border-bottom:1px dotted @greymid;
	.attribution	{float:left; width:auto; line-height:1.75;}
	.shares			{float:right; display:inline-block;}
}

.comments	{
	.logged-in-as, .form-allowed-tags, .comment-notes {font-family:@sans; font-weight:500; color:@greytxt; font-style:italic;}
	.form-allowed-tags	{font-size:0.9em;}
	textarea			{width:100%;}
	.commentlist		{font-family:@sans; font-weight:500;}
	.comment			{margin-bottom:1em;}
	.commentlist > .comment {padding-bottom:0.5em; border-bottom:1px dotted @greymid;}
	.comment-content	{font-family:@serif; font-weight:400; .FontSize(16);}
	
}

.boxed		{padding:0 30px 30px;}
.banner		{width:100%; display:block; border-top:3px solid @blue; .BoxShadow( 0 5px 8px rgba(0, 0, 0, 0.33) );}
.wrap 		{width:100%; margin:0 auto;}
#content	{margin-top:60px; .ClearFix();}

.sidebar	{
	background:@greylite;
	.widget {
		padding:30px;
		border-bottom:1px solid fade(@greytxt, 20%);
	}
	.widget-title	{margin-top:0;}
}

.site-name	{
	height:120px; margin:30px 0 30px 40px; background:transparent url('../img/vcp-logo.png') no-repeat; background-size:contain; .OffsetText; 
	a {display:block; height:100%;}
}

#masthead {
	font-family:@sans; font-weight:500;
	.main-menu {
		position:relative; padding:10px 30px; background:@greylite; border-bottom:1px solid @greymid; .FontSize(24);
		a {color:@black;}
		a:hover, a:focus {color:@bluelite;}
		#menu-toggle {
			color:@greytxt; text-transform:uppercase; font-weight:700; padding:0.6em 0;
			span	{padding-left:0.5em; .FontSize(22);}
		}
		#menu-toggle:hover	{color:@bluelite;}
		#site-nav {
			background:@greylite; z-index:2; .ClearFix;
			ul		{margin:0; padding:0; list-style:none;}
			ul ul	{margin:0 0 0 2em;}
			li		{border-bottom:1px solid @greymid;}
			a		{display:block; padding:0.6em 1em; text-transform:uppercase; font-weight:700;}
			.secondary	{
				a {color:darken(@greytxt, 20%); text-transform:none; font-weight:500;}
				a:hover, a:focus {color:@bluelite;}
			}
			.searchform {
				display:block; margin:1em 0; padding:0.3em 1em;
				#s	{width:220px;}
			}
		}
	}
}

#breadcrumbs	{
	display:none; margin:20px 300px 20px 30px; color:@greytxt; font-family:@sans; font-weight:500;
	a, .breadcrumb_last {padding:0.5em 0.1em;}
	.breadcrumb_last	{}
}

#site-footer	{
	font-family:@sans; font-weight:500; color:@greytxt;
	background:@greylite;
	.GradientGrey;
	> * {padding:30px;}
}


/* Stuff to change when we have JavaScript Support */
html.js	{
	.toggle 	{display:inherit;}
	#site-nav	{display:none;}
}

/* Stuff to change when we have SVG support */
html.svg {
	.site-name {background:transparent url('../img/vcp-logo.svg') no-repeat;  background-size:contain;}
}


article	{margin-bottom:40px;}



/** 
 * For tablets
 */
@media only screen and (min-width: 768px) {

	@baseFontSize:	'20';
	.FontSize( @size ) {
		@remValue: ( @size / @baseFontSize );
		@pxValue:	@size;
		font-size: ~"@{pxValue}px"; 
		font-size: ~"@{remValue}rem";
	}
	
	html	{font-size:125%;}

}



/**
 * For small desktops & tablets in landscape
 */
@media only screen and (min-width: 768px) and (orientation: landscape) {

	@baseFontSize:	'16';
	.FontSize( @size ) {
		@remValue: ( @size / @baseFontSize );
		@pxValue:	@size;
		font-size: ~"@{pxValue}px"; 
		font-size: ~"@{remValue}rem";
	}
	
	html	{font-size:100%;}
	
	.banner		{border-top-width:16px;}
	.wrap 		{max-width:960px;}
	.site-name	{position:absolute; top:0; left:0; height:90px; width:380px; margin-left:0; z-index:3;}
	
	#masthead {
		position:relative; margin:0 30px; border-bottom:1px solid @greymid;
		.main-menu {
			padding:0; background:transparent; border:none;
			#menu-toggle 	{display:none;}
			#site-nav		{
				display:block; height:215px; background:none;
				ul	{border-bottom:none;}
				li	{
					border:none;
					a {padding:0.2em 0.5em;}
				}
				ul.primary	{
					position:absolute; bottom:0; left:0; margin:10px 0; width:460px;
					li {display:inline-block;}
				}
				ul.secondary	{position:absolute; bottom:0; right:0; width:250px; margin:10px 0; text-align:right;}
				.searchform		{
					position:absolute; bottom:-75px; right:0; padding-right:0;
					#s	{width:160px;}
				}
			}
		}
	}
	
	#breadcrumbs 	{display:block;}
	.home #breadcrumbs,
	.front-page #breadcrumbs 	{visibility:hidden;}
	
}


/**
 * For standard desktop screens
 */
@media only screen and (min-width: 960px) {
	
	.single #content, .blog #content {
		.colmwrap	{float:left; width:100%;}
		.colm		{margin-right:305px;}
		.sidebar	{
			float:left; width:270px; margin-left:-270px; background:transparent;
			.colm	{margin:0 30px 0 0; background:@greylite;}
			.widget {padding:10px; overflow:hidden;}
		}
	}

}


/**
 * For large screens
 */
@media only screen and (min-width: 1100px) {

	@baseFontSize:	'16';
	.FontSize( @size ) {
		@remValue: ( @size / @baseFontSize );
		@pxValue:	@size;
		font-size: ~"@{pxValue}px"; 
		font-size: ~"@{remValue}rem";
	}
	
	.banner	{border-top-width:30px;}
	.wrap 	{max-width:1300px;}
	
}