/**
 * Main Site/Theme Styles
 *
 * Styles used on the public-facing website as part of the current theme.
 *
 * @package WordPress
 * @subpackage DPE_Baseline
 */

@import url("normalize.less");

/* Selection colours (easy to forget) ------ */
::selection 	 	{}
::-moz-selection 	{}
img::selection 		{}
img::-moz-selection	{}


/* Alignment & Assistive Text -------------- */
.cf:before,
.cf:after 			{content:" "; display:table;}
.cf:after 			{clear:both;}
.cf					{*zoom:1;}
.required			{}
.note				{}
.error				{}
.success			{}
.alignleft			{width:auto; float:left;}
.alignright			{width:auto; float:right;}
.aligncenter		{clear:both; display:block; margin-left:auto; margin-right:auto;}
.assistive-text,
.screen-reader-text	{position:absolute!important; left:-9000px; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px, 1px, 1px);}


/* Getting started... -------------------------- */
body 		{-webkit-tap-highlight-color:red;}
a			{}
a:hover,
a:focus		{}

em		{font-style:italic;}
strong	{font-weight:700;}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4,
.entry-content h5, .entry-content h6, .entry-content p, .entry-content ul,
.entry-content ol, .entry-content dl	{}

.entry-content h1+ol, .entry-content h1+ul, .entry-content h1+p,
.entry-content h2+ol, .entry-content h2+ul, .entry-content h2+p,
.entry-content h3+ol, .entry-content h3+ul, .entry-content h3+p,
.entry-content h4+ol, .entry-content h4+ul, .entry-content h4+p {}

.entry-content table td,
.entry-content table th {}